* {
  margin: 0;
  padding: 0;
}
img.cat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.circle {
  background-color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.circle:hover {
  cursor: pointer;
}
.custom-input:focus {
  border-color: #ccc !important; /* حذف رنگ آبی */
  box-shadow: none !important; /* حذف shadow آبی */
  outline: none !important; /* حذف outline پیش‌فرض */
}

@media (max-width: 576px) {
  .custom-input {
    width: 50px !important;
    font-size: 12px;
    padding: 4px 8px 4px 25px;
  }
}
